.classes-animating {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: top;
  background: url('assets/sheet-row.png');
  will-change: background-position;
}

.classes-animating-0 {
  background-position: 0 0;
}

.classes-animating-1 {
  background-position: -32px 0;
}

.classes-animating-2 {
  background-position: -64px 0;
}

.classes-animating-3 {
  background-position: -96px 0;
}

.classes-animating-4 {
  background-position: -128px 0;
}

.classes-animating-5 {
  background-position: -160px 0;
}

.classes-animating-6 {
  background-position: -192px 0;
}

.classes-animating-7 {
  background-position: -224px 0;
}
