.react-class-spinner {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: top;
  background-image: url('assets/sheet-row.png');
  will-change: background-position;
}

.react-class-spinner-0 {
  background-position: 0 0;
}

.react-class-spinner-1 {
  background-position: -32px 0;
}

.react-class-spinner-2 {
  background-position: -64px 0;
}

.react-class-spinner-3 {
  background-position: -96px 0;
}

.react-class-spinner-4 {
  background-position: -128px 0;
}

.react-class-spinner-5 {
  background-position: -160px 0;
}

.react-class-spinner-6 {
  background-position: -192px 0;
}

.react-class-spinner-7 {
  background-position: -224px 0;
}
