.svg-class-0 {
  fill: url(#svg-class-0);
}

.svg-class-1 {
  fill: url(#svg-class-1);
}

.svg-class-2 {
  fill: url(#svg-class-2);
}

.svg-class-3 {
  fill: url(#svg-class-3);
}

.svg-class-4 {
  fill: url(#svg-class-4);
}

.svg-class-5 {
  fill: url(#svg-class-5);
}

.svg-class-6 {
  fill: url(#svg-class-6);
}

.svg-class-7 {
  fill: url(#svg-class-7);
}
